
.widthShrin {
            /*animation-name: fadeOutRight;*/
            overflow: inherit;
            width: 250px;
            animation-duration: 1s;
            animation-fill-mode: both;
            }

.widthShrinOut {
            /*animation-name: fadeOutRight;*/
            width: 250px;
            animation-duration: 1.5s;
            animation-fill-mode: both;
            }


         
 @keyframes widthShrinIn {
    0% {
       opacity: 1;
       width: 250px;
    }
    100% {
       opacity: 0;
       width:0%;
    }
 }

 @keyframes widthShrinOut {
   0% {
       opacity: 0;
       width:0%;
    }

    100% {
       opacity: 1;
       //transform: translateX(0);
       width: 250px;

    }
    
 }