:root {
  --real_transition: 0.7s;
  --real_transition2: 0.16s;
  --menu_height: calc(20px + 10vh);
  --width_user_actions: calc(35vh + 100px);
}


body {
margin: 0;
padding: 0;
background-color: red;
}

/*.content_menu_panel{
	display: contents;
}
*/

.menu_panel{
	justify-content: space-between;
	display: flex;
	width: 100%;
	/*height: 40px;*/
	height: var(--menu_height);
	background-color: #FFC107;
	align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.invisible{
	visibility: hidden;
}


.heightV{
		display: flex;
	width: 100%;
	/*height: 40px;*/
	height: 40px;
}



.content_menu_panel{
	background-color: white;
	display: flex;
    width: var(--menu_height);
    height: 100%;
    /* width: auto; */
    justify-content: center;
    align-content: flex-start;
    align-items: center;

}



.line{
	width: calc(var(--menu_height)/1.9);
	height: calc(var(--menu_height)/16);
	background: black;
}

.Menu_button{
    display: flex;
    height: 60%;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: center;
    transition: var(--real_transition);/* ---------------------------------------------------------------ПЕРЕМЕННАЯ 1*/

}
.content_menu_panel:hover > .Menu_button > div{
	background-color: red;
	 transition: var(--real_transition);/* ---------------------------------------------------------------ПЕРЕМЕННАЯ 1*/
}

.Menu_button:hover > div{
	background-color: red;
	 transition: var(--real_transition);/* ---------------------------------------------------------------ПЕРЕМЕННАЯ 1*/
}


.line:hover{
	transform-origin: left top;
	transition: transform-origin var(--real_transition);/* ---------------------------------------------------------------ПЕРЕМЕННАЯ 1*/
}

.line{
	transform-origin: left top;
	transition: transform-origin var(--real_transition);/* ---------------------------------------------------------------ПЕРЕМЕННАЯ 1*/

}


.blue_mine{
	color:blue;
}

.boxshadow{
	box-shadow: 10px 5px 5px black;
}

#l12{text-shadow: rgb(0 0 0) 1px 1px 2px;

}

.firstscreen{
	width:100%;
	height:0px;
	background-color: #8bc34a;
	transition: var(--real_transition);
}


.secondscreen{
	width: 100%;
	height: 200px;
	background-color: #33c593;
}

.lera1{
	justify-content: space-evenly;
	display: flex;
	width: 100%;
	height: 360px;
	background-color: #bd32bb;


}

#s12{
	width: 100%;
	height: 70px;
	background-color: #e3e950;
}

.se{
	width: 30%;
	height: 100%;
	background-color: #c3228d;
}

.vivo{
	width: 30%;
	height: 100%;
	background-color: #a1324c;
}

.user_actions{
	display: flex;

}



.loupeimg{
	width: 70%;
	height: 70%;
	transition: var(--real_transition2);	

}

.content_menu_panel2:hover > .loupeimg{
	width: 85%;
	height: 85%;
	transition: var(--real_transition2);	

}


.caseimg{
	width: 65%;
	height: 70%;
	transition: var(--real_transition2);
}

.content_menu_panel2:hover > .caseimg{
	width: 70%;
	height: 80%;
	transition: var(--real_transition2);
}

.user_acc{
	width: 55%;
	height: 75%;	
	transition: var(--real_transition2);

}

.content_menu_panel2:hover > .user_acc{
	width: 61%;
	height: 80%;	
	transition: var(--real_transition2);

}

.content_menu_panel2{
	overflow: hidden;
	background-color: white;
	display: flex;
    width: var(--menu_height);
    height: 100%;
    /* width: auto; */
    justify-content: center;
    align-content: flex-start;
    align-items: center;	
}

.user_actions{
	justify-content: space-between;
	width: var(--width_user_actions);
	transition: var(--real_transition);
}

.count_case{
	font-size: calc(var(--menu_height)/2);
	position: absolute;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 7px;
}