.input_panel{
	column-gap:5px;
	width: fit-content;
    margin: auto;
    display: flex;
}

.inputs{
	row-gap:5px;
	display:grid;
}

.sto{
	height: fit-content;
}

.res{
	display:flex;
	column-gap: 5px;

}

.input_panel{
	padding: 10px;
}

input.rootwr {
	width: 500px;
}